.jumbotron {
	color: red;

}

h1:hover {

	color: orange;
	font-size: 65px;
	font-weight: bolder;
}

	

body {
	font-size: 20px;
	padding: 20px;
	text-align: center;
	background-color: rgb(188, 178, 245);
}

